body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#00a1a6;
  }
  
  .container {
    display: flex;
    width: 800px;
    width: 90%;
    max-width: 1200px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     border-radius:15%;
  }
  
  .sidebar {
    width: 30%;
    background-color: #00c4cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5%;
  
  }
  
  .logo{
    width: 800px;
    margin-bottom: 10px;
    margin-left:  38px;
   
  }
  
  
  

  .main-content {
    width: 100%;
    background-color: white;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
  }
  
  .main-content h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .main-content p {
    margin: 10px 0 20px;
    color: #666;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  
  input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;


  }

  .imagem-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color:#00c4cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  button:hover {
    background-color: #00a1a6;
  }

  .imagem-superior {
    max-width: 180px; 
    margin-bottom: 20px; 
  }
  
  .main-content {
    width: 100%;
    background-color: white;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    box-sizing: border-box; 
  }
  
  .main-content h1 {
    margin: 0px; 
    font-size: 24px; 

    }
  
  form {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%; 
    max-width: 400px; 
  }
  
  input {
    font-size: 16px; 
    padding: 12px; 
    width: 100%; 
    box-sizing: border-box; 
  }
  
  button {
    padding: 12px 0;
    width: 100%;
    max-width: 200px; 
  }

  